.section {
    margin-top: 100px;
    padding: 0 16px;
    overflow: hidden;


}

.container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 1200px;
    opacity: 1;

  .left {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #000000;

    .shadow {
      position: absolute;
      z-index: 3;
      left: 0%;
      right: 0%;
      top: 48.01%;
      bottom: 0%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.51%, rgba(0, 0, 0, 0.5) 35.45%, #000000 96.6%);
    }
  }
  ․right {
    position: relative;
    z-index: 10;
  }
}

.left {
    border-radius: 8px;
    position: relative;
    display: flex;
  background-color: #000000;
}

.left > div:first-child {
    width: 90%;
}


.container >div:last-child {
    margin-bottom: 48px;
}

.right {
    & > div:first-child {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 576px) {

    .container >div {
        margin-bottom: 0;
    }

    .left > div:first-child {
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .section {
        margin-top: 140px;
        padding: 0 40px;
    }

    .container {
        flex-direction: row;
    }

    .container > div {
        width: 50%;
    }

    .left {
        margin-right: 24px;
    }

    .container >div:last-child {
        margin-bottom: 0px;
    }
}

