@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-Black.ttf") format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("./fonts/SourceSansPro-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("./fonts/SourceSansPro-Bold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Lato';
    src: url("./fonts/Lato-Bold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Lato';
    src: url("./fonts/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
}