.container {
    margin-bottom: 16px;
}

.name {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFB800;
    margin-bottom: 16px;

    span {
        transform: translateY(100%);
        opacity: 0;
    }
}

.container > div {
    margin-bottom: 16px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translateY(150%);
    opacity: 0;
}

.title span:last-child {
    color: #F8F962;
}

